/* Reset some default styles to ensure consistency */
body, h1, h2, h3, p {
  margin: 3;
  padding: 3;
}

/* Set a background color and font for the entire page */
body {
  background-image: url('../images/background.jpg');
  background-repeat:repeat-x;
  background-size: cover;
  background-attachment:fixed;
  background-position: left top;
  overflow: hidden;
  position:absolute;
  height:610px
  margin:60;
  font-family: Arial, sans-serif;
}

/* Define a container for your website's content */
.container {
  max-width: 1000px; /* Adjust this to your preferred content width */
  margin: 60 auto; /* Center the container horizontally */
  padding: 60px; /* Add some spacing around the content */
}

/* Style the header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/* Style navigation links */
nav {
}
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
}

li {
  float: left;

}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #d1d1d1;
}

/* Style main content area */
.main-content {
  background-color: #CCE1EC;
  padding: 20px;
}

/* Style footer */
footer {
  background-color: #CCE1EC;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Add responsive design media queries here for different screen sizes */
